@import '_color.scss';

button{
  background-color: $p;
  color:white;
  border-radius: 5px;
  border:0;
  padding:5px 15px;
  height:60px;
}
button.undraft{
  background-color: $c;
}

button:hover{
}


button span svg{
  height: 40px;
  vertical-align: middle;
}